mixin key()

    .key
        div
            img(src="/images/to-do.svg")
            p Task to-do
        div
            img(src="/images/complete.svg")
            p Task complete!
        div
            img(src="/images/note.svg")
            p Note
        div
            img(src="/images/event.svg")
            p Event